<% offers.forEach(function(car) { %>
    <div class="card">
        <div class="info">
            <a class="carname"><%= `${car.Name} ${car.Model}` %></a>
            <img src="<%= car.Image %>" class="carpic">
            <p>Old Price: 
                <span  class="middle-line"><%= parseInt(car.Price).toLocaleString() %></span> EGP
            </p>
            <p style="color: blue;">New Price: <%= parseInt( car.Price * (1 - (car.Discount / 100))  ).toLocaleString() %> EGP</p>
            <p style="color: rgba(206, 2, 2, 0.664)">Discount: <%= car.Discount %>%</p>
        </div>
        <div class="order">
            <a href="/cars/<%= car.Name%>" class="carbtn">Show Details</a>
        </div>
    </div>
  <% }); %>