<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="./css/nav.css" rel="stylesheet">
<link href="./css/profile.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<title>Home</title>

<script>
    /* this function to appear and hide info options */

    document.addEventListener('DOMContentLoaded', function() {
        var select1 = document.querySelector(".name");
        var select2 = document.querySelector(".container1");

        select1.addEventListener('click', function() {
            if (select2.classList.contains('hidden'))                
                select2.classList.remove('hidden');
            else
                select2.classList.add('hidden');
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var select1 = document.querySelector(".upload-button");
        var select2 = document.querySelector(".container2");

        select1.addEventListener('click', function() {
            if (select2.classList.contains('hidden'))                
                select2.classList.remove('hidden');
            else
                select2.classList.add('hidden');
        });
    });


    /* This function hide the upload form */

    document.addEventListener('DOMContentLoaded', function(){
        var select1 = document.querySelector(".X");
        var select2 = document.querySelector(".container2");

        select1.addEventListener('click', function() {
            select2.classList.add('hidden')
        });
    })
</script>

</head>
<body >

    <%- include("./partials/navbar.ejs") %>

    <main>
        <div class="yourchannelbody">
            <div class="channel-section">
                <% if(user.Type === "Admin") {%>
                    <h2>Admin Dashboard</h2>
                    <% } else { %>
                        <h2>Profile</h2>
                        <% } %>
                    
                    <div class="channel-details">
                        <img src="images/femaleAdmin.png" >
                        <div class="channel-info">
                            <h3> <%= user.UserName %></h3>
                            <p>Email: <%= user.Email %></p>
                            <p>Privilege: <%= user.Type %></p>
                            <p>Mobile: <%= user.Mobile %> </p>
                            <button class="Edit-button"> <a href="/logout"> Logout </a></button>
                        </div>
                    </div>               
            </div>
            <hr class="divideryourchannel">
            
        </div>
    </main>
    <div class="" style="">
        <% if(user.Type === "Customer") {%>
            <main class="">       
                <div class="card">        
                    <form action="/updateprofile/<%= user.Email %>" method="post">
                        <div class="profileinfo">
                            <h2><%= user.Type %></h2>
                        </div>                             
                        <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">            
                            <div>
                                <div class="">
                                    <h5>Email</h5>
                                    <input type="text" name="email" value = "<%= user.Email %>" readonly>
                                </div>
                                <div class="">
                                    <h5>Name</h5>
                                    <input type="text" name="username" value = "<%= user.UserName %>">
                                </div>
                                <div class="">
                                    <h5>Mobile</h5>
                                    <input type="text" name="mobile" value = "<%= user.Mobile %>">
                                </div>
                                <div class="">
                                    <h5>Gender</h5>
                                    <input type="text" name="gender" value = "<%= user.Gender %>">
                                </div>
                                <div class="">
                                    <% let date=new Date(user.createdAt); let
                                        formattedDate=date.toLocaleDateString('en-US'); let
                                        formattedTime=date.toLocaleTimeString('en-US'); let
                                        formattedDateTime=`${formattedDate} ${formattedTime}`; 
                                    %>              
                                    <h5>Joined: <%= formattedDateTime %></h5>
                                </div>
                                <div class="">
                                    <h5>Privilege: Customer</h5>
                                </div>
                                <div class="">
                                    <h5>Action</h5>
                                    <select name="methodtype" id="methodtype">
                                        <option>update</option>
                                        <option>delete</option>
                                    </select>
                                </div>
                            </div>

                            
                        </div>
                        <div class="buttons">        
                            <button type="submit" class="btnone">Apply Changes</button>
                        </div>    
                    </form>     
                </div>
            </main>
        <% } %>

    <% users.forEach(function(u) { %>
        
        <main class="">       
            <div class="card">        
                <form action="/updateprofile/<%= u.Email %>" method="post">
                    <div class="profileinfo">
                        <h2><%= u.Type %></h2>
                    </div>                             
                    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">            
                        <div>
                            <div class="">
                                <h5>Email</h5>
                                <input type="text" name="email" value = "<%= u.Email %>" readonly>
                            </div>
                            <div class="">
                                <h5>Name</h5>
                                <input type="text" name="username" value = "<%= u.UserName %>">
                            </div>
                            <div class="">
                                <h5>Mobile</h5>
                                <input type="text" name="mobile" value = "<%= u.Mobile %>">
                            </div>
                            <div class="">
                                <h5>Gender</h5>
                                <input type="text" name="gender" value = "<%= u.Gender %>">
                            </div>
                            <div class="">
                                <% let date=new Date(u.createdAt); let
                                    formattedDate=date.toLocaleDateString('en-US'); let
                                    formattedTime=date.toLocaleTimeString('en-US'); let
                                    formattedDateTime=`${formattedDate} ${formattedTime}`; 
                                %>              
                                <h5>Joined: <%= formattedDateTime %></h5>
                            </div>

                            <% if(u.Email === user.Email) {%>
                                <div class="">
                                    <h5>Privilege: Admin</h5>
                                </div>
                            <% } else { %>
                                <div class="">
                                    <h5>Privilege</h5>
                                    <select name="type" id="type">
                                        <% if(u.Type === "Admin") {%>    
                                            <option>Admin</option>
                                            <option>Customer</option>
                                        <% } else { %>
                                            <option>Customer</option>
                                            <option>Admin</option>
                                            <% } %>
                                    </select>
                                </div>
                            <% } %>
                            <div class="">
                                <h5>Action</h5>
                                <select name="methodtype" id="methodtype">
                                    <option>update</option>
                                    <option>delete</option>
                                </select>
                            </div>
                        </div>

                        
                    </div>
                    <div class="buttons">        
                        <button type="submit" class="btnone">Apply Changes</button>
                    </div>    
                </form>     
            </div>
        </main>
    <% }); %>

    <!-- <main class="main2">       
        <div class="card">                                     
            <div>
                <div class="profileinfo">
                    Admins
                </div>
                <div>
                    <div class="email">
                        sama2203286@miuegypt.edu.eg
                    </div>
                    <div class="info">
                        UI/UX Designer
                    </div>
                    <div class="info">
                        UI/UX Designer
                    </div>
                    <div class="info">
                        UI/UX Designer
                    </div>
                    <div class="info">
                        UI/UX Designer
                    </div>
                </div>

                <div class="buttons">        
                    <a href="editprofile.php" ><button class="btnone">Edit Profile</button></a>
                    <a href="login.php"><button class="btntwo">Logout</button></a>
                </div>
             </div>
                                
        </div>
    </main> -->

</div>


    <main>


        <div class="row">
            <?php
                require_once('video-retrieve.php');
            ?>


                <!-- Add more video boxes as needed -->
        </div>



        <!-- Upload Form -->

        <div class="container-sm container2 hidden centered">
                <div class="upload-videos">Upload Cars</div>
                <div id="X1" class="X">✕</div>
                <span class="clear"></span>
                <hr>
                <div class="inner-container">
                    <div>
                        <a href="#">
                            <img src="images/pngtree-file-upload-icon-image_1344393-removebg-preview.png" alt="Photo can't load.">
                        </a>
                    </div>
                    <p>Upload your Car File</p>
                    <button class="selectFiles">Select Files</button>
                </div>
        </div>


        
        <!-- Upload video -->

        <div class="container-sm container4 hidden centered">
            <div class="upload-info">Upload Car</div>
            <div class="X" id="X3">✕</div>
            <span class="clear"></span>
            <hr>
            <div>
        
                <form method="POST" action="yourchannel.php" enctype="multipart/form-data">
                    <label>Video title</label>
                    <br>
                    <input class="video-title" type="text" name="video_title" placeholder="(:" required>
                    <br>
                    <label>Video description</label>
                    <br>
                    <textarea class="video-description" type="text" name="video_description" placeholder="(:" required></textarea>
                    <br>
                    <label>Video URL</label>
                    <br>
                    <input class="video-url" type="file" name="file" required>
                    <br>
                    <button class="upload" name="upload" type="submit">Upload</button>
                </form>

            </div>
        </div>



        <div class="channel-section2 <?php echo $hiddenClass; if($hideButtons) echo 'hidden';?>">
            <p>Upload at home or on the go.</p> <p>Upload content from any device</p> <p>All your videos make will appear here.</p>
            <button class="upload-button">Upload</button>
        </div>
                
    </main>
    <span class="clearfix"></span>

    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>